footer {
  padding: 50px 0;
  box-shadow: 0 0 10px $blackShadow;

  .footerContainer {
    width: 80%;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: 875px) {
      grid-template-columns: 1fr;
    }

    div {
      padding: 20px;
    }
  }
  img {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    color: $color1;
    font-size: 1.2rem;
  }

  ul {
    li {
      list-style: none;
      padding: 7px 0;
    }
  }

  a {
    color: $text;
    transition: 0.2s;

    &:hover {
      color: $color1;
    }
  }

  #separateur {
    margin: 20px;
    color: $color1;
    font-size: 1.3rem;
  }

  .copyright {
    @media screen and (max-width: 875px) {
      width: 80%;
      margin: 0 auto;
    }

    p {
      font-size: 0.9rem;
      i {
        color: $color1;
      }
    }
  }
}
