header {
  background: url(../img/bg-title.png) center/cover;
  background-attachment: fixed;

  .overlay {
    background: $color1-50;
    .header {
      display: grid;
      grid-template-columns: 30% 70%;

      div {
        display: grid;
        align-items: center;
        padding: 20px 50px;

        img {
          height: 120px;
        }

        .menu-icons {
          display: none;

          @media screen and (max-width: 840px) {
            display: block;
          }

          i {
            font-size: 2rem;
            color: $white;
          }

          #close-icon {
            display: none;
          }
        }

        nav {
          @media screen and (max-width: 840px) {
            display: none;
          }
          ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            li {
              list-style: none;
              margin: 50px 20px 0;
              transition: 0.2s;

              a {
                text-decoration: none;
                color: $white;
              }

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }

    .title-page {
      width: 80%;
      margin: 0 auto;
      p {
        color: $white;
        &:first-of-type {
          padding-top: 50px;
        }
        &:last-of-type {
          padding-bottom: 50px;
        }
      }

      button {
        margin-bottom: 50px;
      }
    }
  }
}
