@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-weight: normal;
}

body {
  color: #333333;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  color: #ffffff;
  padding: 50px 0;
}

h2 {
  text-transform: uppercase;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  font-weight: normal;
}

button {
  background: transparent;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button a {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
button:hover a {
  background: #ffffff;
  color: #2d6c7a;
}

.buttonBlue {
  background: transparent;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.buttonBlue a {
  border: 2px solid #2d6c7a;
  color: #2d6c7a;
  font-size: 1rem;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.buttonBlue:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.buttonBlue:hover a {
  background: #2d6c7a;
  color: #ffffff;
}

header {
  background: url(../img/bg-title.webp) center/cover;
  background-attachment: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
header .overlay {
  background: rgba(45, 108, 122, 0.5);
}
header .overlay .header {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 1125px) {
  header .overlay .header {
    grid-template-columns: 80% 20%;
    width: 80%;
  }
}
header .overlay .header div {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
}
header .overlay .header div img {
  height: 120px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .overlay .header div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .overlay .header div .menu-icons {
  display: none;
}
@media screen and (max-width: 1125px) {
  header .overlay .header div .menu-icons {
    display: block;
  }
}
header .overlay .header div .menu-icons i {
  font-size: 2rem;
  color: #ffffff;
}
@media screen and (max-width: 1125px) {
  header .overlay .header div .menu-icons i {
    margin-top: 50px;
  }
}
header .overlay .header div .menu-icons #close-icon {
  display: none;
}
@media screen and (max-width: 1125px) {
  header .overlay .header div nav {
    display: none;
  }
}
header .overlay .header div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 150px;
  left: 10%;
  width: 80vw;
  background: rgba(45, 108, 122, 0.9);
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1125px) {
  header .overlay .header div nav ul {
    display: block;
  }
}
header .overlay .header div nav ul li {
  list-style: none;
  padding: 20px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1125px) {
  header .overlay .header div nav ul li {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
  }
  header .overlay .header div nav ul li:last-of-type {
    border-bottom: none;
  }
}
header .overlay .header div nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .overlay .header div nav ul li a:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1125px) {
  header .overlay .header div nav ul li a:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
header .overlay .header div nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 1125px) {
  header .overlay .header div nav ul li:hover {
    -webkit-transform: none;
            transform: none;
  }
}
header .overlay .title-page {
  width: 80%;
  margin: 0 auto;
}
header .overlay .title-page h1 {
  line-height: 40px;
}
header .overlay .title-page .titlePage {
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
header .overlay .title-page p {
  color: #ffffff;
  font-size: 1.1rem;
}
header .overlay .title-page p:first-of-type {
  padding-top: 50px;
}
header .overlay .title-page p:last-of-type {
  padding-bottom: 50px;
}
header .overlay .title-page button {
  margin-bottom: 50px;
}

main section {
  width: 85%;
  margin: 0 auto;
}

footer {
  padding: 50px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
footer .footerContainer {
  width: 80%;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 875px) {
  footer .footerContainer {
    grid-template-columns: 1fr;
  }
}
footer .footerContainer div {
  padding: 20px;
}
footer img {
  width: 80%;
  margin: 0 auto;
}
footer h2 {
  color: #2d6c7a;
  font-size: 1.2rem;
}
footer ul li {
  list-style: none;
  padding: 7px 0;
}
footer a {
  color: #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer a:hover {
  color: #2d6c7a;
}
footer #separateur {
  margin: 20px;
  color: #2d6c7a;
  font-size: 1.3rem;
}
@media screen and (max-width: 875px) {
  footer .copyright {
    width: 80%;
    margin: 0 auto;
  }
}
footer .copyright p {
  font-size: 0.9rem;
}
footer .copyright p i {
  color: #2d6c7a;
}

#home .products {
  padding: 50px 0;
}
#home .products h2 {
  padding-bottom: 50px;
}
#home .products .productsContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 875px) {
  #home .products .productsContainer {
    grid-template-columns: 1fr;
  }
}
#home .products .productsContainer a {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#home .products .productsContainer a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#home .products .productsContainer a .product {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#home .products .productsContainer a .overlay {
  background: rgba(45, 108, 122, 0.25);
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
#home .products .productsContainer a .overlay h3 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#home .products .productsContainer a #product1 {
  background: url(../img/herbes.webp) no-repeat center/cover;
}
#home .products .productsContainer a #product2 {
  background: url(../img/thym.webp) no-repeat center/cover;
}
#home .products .productsContainer a #product3 {
  background: url(../img/romarin.webp) no-repeat center/cover;
}
#home .about {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 1190px) {
  #home .about {
    grid-template-columns: 1fr;
  }
}
#home .about div {
  text-align: justify;
}
#home .about div h2 {
  text-align: justify;
}
@media screen and (max-width: 1190px) {
  #home .about div h2 {
    padding-bottom: 30px;
  }
}
#home .about div p {
  padding-bottom: 50px;
  text-align: justify;
}
#home .actus {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#home .actus .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#home .actus .overlay h2 {
  color: #ffffff;
  padding-bottom: 50px;
}
#home .actus .overlay .actusContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 875px) {
  #home .actus .overlay .actusContainer {
    grid-template-columns: 1fr;
  }
}
#home .actus .overlay .actusContainer a {
  background: rgba(45, 108, 122, 0.25);
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#home .actus .overlay .actusContainer a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#home .actus .overlay .actusContainer a img {
  width: 80%;
  margin: 20px 20px 30px;
  border-radius: 360px;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
@media screen and (max-width: 875px) {
  #home .actus .overlay .actusContainer a img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #home .actus .overlay .actusContainer a img {
    width: 80%;
  }
}
#home .actus .overlay .actusContainer a .actu h3 {
  color: #ffffff;
}
#home .actus .overlay .actusContainer a .actu p {
  color: #ffffff;
  padding: 30px 20px;
}

#about .about {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 875px) {
  #about .about {
    grid-template-columns: 1fr;
  }
}
#about .about div {
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #about .about div {
    text-align: center;
  }
}
#about .about div img {
  width: 80%;
  margin: 30px auto 0;
}
#about .about div h2 {
  text-align: justify;
  padding-bottom: 30px;
}
@media screen and (max-width: 875px) {
  #about .about div h2 {
    text-align: center;
  }
}
#about .about div p {
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #about .about div p {
    text-align: center;
  }
}
#about .valeursMissions {
  background: url(../img/figure1.webp) center/cover;
  background-attachment: fixed;
}
#about .valeursMissions .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#about .valeursMissions .overlay .valeursMissionsContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 875px) {
  #about .valeursMissions .overlay .valeursMissionsContainer {
    grid-template-columns: 1fr;
  }
}
#about .valeursMissions .overlay .valeursMissionsContainer div {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  padding: 30px 20px;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  background: rgba(45, 108, 122, 0.25);
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #about .valeursMissions .overlay .valeursMissionsContainer div {
    text-align: center;
  }
}
#about .valeursMissions .overlay .valeursMissionsContainer div h2 {
  color: #ffffff;
  padding-bottom: 30px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #about .valeursMissions .overlay .valeursMissionsContainer div h2 {
    text-align: center;
  }
}
#about .valeursMissions .overlay .valeursMissionsContainer div p {
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #about .valeursMissions .overlay .valeursMissionsContainer div p {
    text-align: center;
  }
}
#about .recolte {
  padding: 50px 0;
}
#about .recolte h2 {
  padding-bottom: 50px;
}
#about .recolte p {
  width: 80%;
  margin: 0 auto 50px;
}
#about .recolte .recolteContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 875px) {
  #about .recolte .recolteContainer {
    grid-template-columns: 1fr;
  }
}
#about .recolte .recolteContainer img {
  background: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#about .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#about .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#about .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#about .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#about .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}

#nos-produits .productsContainer {
  padding: 50px 0;
}
#nos-produits .productsContainer .product {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#nos-produits .productsContainer .product img {
  width: 100%;
}
#nos-produits .productsContainer .product h2 {
  padding-bottom: 30px;
}
#nos-produits .productsContainer .product p {
  padding-bottom: 50px;
}
#nos-produits .productsContainer #product1,
#nos-produits .productsContainer #product3 {
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 875px) {
  #nos-produits .productsContainer #product1,
  #nos-produits .productsContainer #product3 {
    grid-template-columns: 1fr;
  }
}
#nos-produits .productsContainer #product2 {
  grid-template-columns: 70% 30%;
}
@media screen and (max-width: 875px) {
  #nos-produits .productsContainer #product2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 30px auto;
  }
}
#nos-produits .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#nos-produits .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#nos-produits .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#nos-produits .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#nos-produits .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}

#actualites .actus {
  padding: 50px 0;
}
#actualites .actus .actusContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 875px) {
  #actualites .actus .actusContainer {
    grid-template-columns: 1fr;
  }
}
#actualites .actus .actusContainer a {
  background: rgba(45, 108, 122, 0.25);
  border: 1px solid #2d6c7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #2d6c7a;
          box-shadow: 0 0 10px #2d6c7a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#actualites .actus .actusContainer a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#actualites .actus .actusContainer a img {
  width: 80%;
  margin: 20px 20px 30px;
  border-radius: 360px;
  -webkit-box-shadow: 0 0 10px #2d6c7a;
          box-shadow: 0 0 10px #2d6c7a;
}
#actualites .actus .actusContainer a .actu h3 {
  color: #2d6c7a;
  text-shadow: 0 0 10px #ffffff;
}
#actualites .actus .actusContainer a .actu p {
  color: #333333;
  padding: 30px 20px;
}
#actualites .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#actualites .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#actualites .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#actualites .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#actualites .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}

#contact .contactForm {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}
#contact .contactForm p {
  padding-bottom: 50px;
}
#contact .contactForm form {
  border: 1px solid #2d6c7a;
  padding: 20px;
}
#contact .contactForm form label {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#contact .contactForm form label input {
  width: 80%;
  margin: 10px auto;
  display: block;
  padding: 5px 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: #2d6c7a;
  font-size: 1rem;
}
#contact .contactForm form label input:hover, #contact .contactForm form label input:active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #2d6c7a;
}
#contact .contactForm form label textarea {
  width: 80%;
  margin: 10px auto 30px;
  display: block;
  padding: 5px 10px;
  border: 1px solid #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: #2d6c7a;
  font-size: 1rem;
}
#contact .contactForm form label textarea:hover, #contact .contactForm form label textarea:active {
  border: 2px solid #2d6c7a;
}
#contact .contactForm form button {
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #2d6c7a;
  color: #2d6c7a;
  font-size: 1rem;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#contact .contactForm form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #2d6c7a;
  color: #ffffff;
}
#contact .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#contact .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#contact .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#contact .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#contact .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}

#legal .legalContainer {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#legal .legalContainer h2 {
  padding-bottom: 30px;
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #legal .legalContainer h2 {
    text-align: left;
  }
}
#legal .legalContainer p {
  padding-bottom: 30px;
  text-align: justify;
}
#legal .legalContainer a {
  color: #2d6c7a;
}
#legal .legalContainer a:hover {
  color: #000000;
}
#legal .legalContainer ul {
  padding-bottom: 30px;
}
#legal .legalContainer ul li {
  list-style-position: inside;
  text-align: justify;
}

#product .product .productContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
@media screen and (max-width: 875px) {
  #product .product .productContainer {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
}
#product .product .productContainer img {
  width: 100%;
}
#product .product .productContainer h2 {
  padding-bottom: 30px;
}
#product .descriptionProduct {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 875px) {
  #product .descriptionProduct {
    padding-top: 50px;
  }
}
#product .descriptionProduct h2,
#product .descriptionProduct p {
  text-align: justify;
  padding-bottom: 30px;
}
#product .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#product .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#product .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#product .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#product .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}

#article .articleContainer {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#article .articleContainer img {
  width: 310px;
  margin: 0 auto 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 360px;
}
#article .articleContainer h2,
#article .articleContainer p {
  padding-bottom: 30px;
  text-align: justify;
}
@media screen and (max-width: 875px) {
  #article .articleContainer h2 {
    text-align: left;
  }
}
#article .cta {
  background: url(../img/actus.webp) center/cover;
  background-attachment: fixed;
}
#article .cta .overlay {
  background: rgba(45, 108, 122, 0.5);
  padding: 50px 0;
}
#article .cta .overlay .ctaContainer {
  width: 80%;
  margin: 0 auto;
}
#article .cta .overlay .ctaContainer h2 {
  color: #ffffff;
}
#article .cta .overlay .ctaContainer p {
  color: #ffffff;
  padding: 30px 20px 50px;
}/*# sourceMappingURL=index.css.map */