#article {
  .articleContainer {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;

    img {
      width: 310px;
      margin: 0 auto 30px;
      box-shadow: 0 0 10px $blackShadow;
      border-radius: 360px;
    }
    h2,
    p {
      padding-bottom: 30px;
      text-align: justify;
    }
  }

  .cta {
    background: url(../img/actus.webp) center/cover;
    background-attachment: fixed;

    .overlay {
      background: $color1-50;
      padding: 50px 0;

      .ctaContainer {
        width: 80%;
        margin: 0 auto;

        h2 {
          color: $white;
        }

        p {
          color: $white;
          padding: 30px 20px 50px;
        }
      }
    }
  }
}
