#legal {
  .legalContainer {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    h2 {
      padding-bottom: 30px;
      text-align: justify;

      @media screen and (max-width: 875px) {
        text-align: left;
      }
    }

    p {
      padding-bottom: 30px;
      text-align: justify;
    }

    a {
      color: $color1;

      &:hover {
        color: $black;
      }
    }

    ul {
      padding-bottom: 30px;
      li {
        list-style-position: inside;
        text-align: justify;
      }
    }
  }
}
